$purple: rgb(0, 62, 207);
$navbar1: rgb(0, 25, 69);
$navbar: rgb(29,0,83);

$dark-grey: rgb(26, 26, 26);
$medium-grey: rgb(38, 38, 38);
$light-grey: rgb(200, 200, 200);

$red: #e74c3c;
$blue2: #2980b9;
$blue: #09f;
$purple: rgb(119, 93, 212);
$green: #2ecc71;
$yellow: #f1c40f;
$pink: #F262D3;
$orange: #f39c12;
$teal: #16a085;
$burnt: #e74c3c;
$sea: #8e44ad;


$font-primary: "Helvetica", "Arial", sans-serif;
$font-secondary: "Source Sans Pro", "Calibri", sans-serif;

$mobile: 768px;

html, body {
  word-wrap: break-word;
  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;

  iframe {

      height: 380px;
    }

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  font-size: 78px;
  text-align: center;
  color: white;

  @media (max-width: $mobile) {
    font-size: 58px;
  }
}

h2 {
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  @media (max-width: $mobile) {
    font-size: 40px;
  }
}

h3 {
  font-size: 24px;
  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

h4  {
  color: white;
}

img {
  &.round {
    border-radius: 15px;
  }
}

p {
  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  &.sub-heading {
    font-family: $font-secondary;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
  }
}

button {
  margin-top: 16px;
  font-family: $font-secondary;
}

.fader {
  display: none;
}

.bg-image {
    background: linear-gradient(
      rgba(73,0,168, 0.45),
      rgba(73,0,168, 0.45)
    ),
    url(../assets/connected-cars6.2.jpeg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media (max-width: $mobile) {
    background-position: top left;
  }

}

body {
  overflow-x: hidden;
  word-wrap: break-word;
}

.navbar-default {
      background-color:transparent;
      border-color:transparent;
      background-image:none;
      box-shadow:none;

      @media (max-width: 768px){
        background-color: $purple;
        border-color: transparent;
        background-image:none;
        box-shadow:none;
        .navbar-nav li{
          text-align: center;
        }
      }
 }

 .left {
   text-align: left;
   margin-bottom: 40px;

   @media (max-width: $mobile){
     margin-bottom: 0px;
   }

 }




.color-div {

  img {
    border-radius: 20px;
  }

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }

  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: grey;

  }

  width: 100%;
  button {
    color: white;
    background-color: $teal;
    border-color: white;
  }
  img {
    margin-top: 30px;

    @media (max-width: $mobile){
      margin-top: 0px;
    }
  }

  &.purple {
    background: $purple;
    img {
      margin-top: 130px;
      @media (max-width: $mobile){
        margin-top: 10px;
      }
    }
  }
  &.blue {
    background: $blue;
  }
  &.orange {
    background: $orange;
  }
  &.red {
    background: $red;
  }
  &.pink {
    background: $pink;
  }
  &.teal {
    background: $teal;
  }
  &.yellow {
    background: $yellow;
  }
  &.green {
    background: $green;
  }
  &.sea {
    background: $sea;
  }
  &.burnt {
    background: $burnt;
  }

}

.intro {
  background-color: #365c82;
  // background-image: url("../assets/renderings/front_angle.png");
  // background-position: left;
  // background-repeat: no-repeat;
  // background-size: contain;
  p {
    color: $light-grey;
    text-align: justify;
    padding-left: 30px;
    @media (max-width: $mobile){
      text-align: justify;
    }
  }

  .vert_cent {

  }

  h2 {
    text-align: left;
    color: white;
    padding-left: 30px;
    @media (max-width: $mobile){
      text-align: center;
    }
  }
  img {

    padding-top: 50px;

    padding-bottom: 50px;
    max-width: 90%;
    max-height: 100%;
    @media (max-width: $mobile){
      max-width: 100%;
    }

  }


}




.dark-grey-div {
  width: 100%;
  background: $dark-grey;
  padding-bottom: 50px;
  h3 {
    color: white;
  }
  h2  {
    font-size: 36px;
    &.sub {
      text-align: center;
      margin-bottom: 15px;
      color: $light-grey;
    }

  }
  p {
    color: $light-grey
  }



  .highlight {

    @media (max-width: 768px){
        border-radius: 0px;
      }


    padding-bottom: 15px;
    background-color: rgba($light-grey, .07);
    border-radius: 15px;
  }

  button {
    color: $light-grey;
    background-color: $dark-grey;
    border-color: $light-grey;
  }
  textarea{
    background-color: $medium-grey;
    border-style: none;
  }
  input[type="text"]{
    background-color: $medium-grey;
    border-style: none;
  }


}
.dark-blue-div {
  width: 100%;
  background: #34495e;
  h3 {
    text-align: center;
    color: white;
  }
  p {
    text-align: left;
    color: white;
  }

}
.contact-div {
  width: 100%;
  background: #2c3e50;
  text-align: center;
  h3 {
    text-align: center;
    color: white;
  }
  p {
    color: white;
  }
  button {
    padding: 10px;
    color: white;
    background-color: transparent;
    border-style: solid;
    border-color: $light-grey;
    border-radius: 20px;
    &:hover {
      border-color: $dark-grey;
      color: $dark-grey;
    }
  }

}

.dark-biz-div {
  width: 100%;
  background: $dark-grey;

  .sub-heading {
    text-align: center;
    color: $light-grey;
  }

  h2 {
    color: white;
  }

  h3 {

    color: $light-grey;
  }
  p {
      text-align: left;
    color: white;
  }

  li {
    color: white;
    text-align: left;
  }






}




.info-block-light {
text-align: center;
  h2 {
    color: white;
  }
  p {
    color: $light-grey;
  }
}
.info-block-dark {
  text-align: center;
  h2 {
    color: black;
  }
  p {
    color: black;
  }
}

.white {
  color: white;
}

.light-grey {
  color: $light-grey
}

.purple-button {
  color: white;
  background-color: $purple;
  border-color: $purple;
}


.grid-block {
  margin-bottom: 20px;

  a:hover {
    text-decoration: none;
  }
  .col-sm-4:hover {
    opacity: 0.5;
  }
  i {
    display:block;
    text-align:center;
    &.red {
      color: $red;
    }
    &.blue {
      color: $blue;
    }
    &.green {
      color: $green;
    }
    &.yellow {
      color: $yellow;
    }
    &.purple {
      color: $purple;
    }
    &.pink {
      color: $pink;
    }
    &.orange {
      color: $orange;
    }
    &.teal {
      color: $teal;
    }
    &.sea {
      color: $sea;
    }
    &.burnt {
      color: $burnt;
    }


  }
  h3 {
    text-align: center;
    color: white;
  }
  p {
    text-align: center;
    color: $light-grey
  }
  @media (max-width: 768px){
    margin-bottom: 0px;
  }
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 20px;
    &:hover {
      color: $light-grey;
    }
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    &:hover {
      color: $light-grey;
    }
}

.top-div-pad {
  padding-top: 70px;
  @media (max-width: 768px){
    padding-top: 0px;
  }
}

.bottom-div-pad {
  padding-bottom: 100px;
  @media (max-width: 768px){
    padding-bottom: 0px;
  }
}

.grey-glyph {
  i {
    letter-spacing: 3px;
    text-align:center;
    color: $light-grey;
  }
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  width: 175px;
  height: 175px;
}

.team-div {
  text-align: center;
  h3  {
    color: $purple;
    font-size: 34px;
    line-height: 1;
  }
  h4 {
    font-size: 18px;
    color: purple;
    font-weight: 300;
  }
  i {
    color: $purple;
  }
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  h3 {
    color: white;
  }
  p {
    color: $light-grey;
  }
  .ultra-footer {
    border-top: 1px solid $light-grey;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
  }
}

.black-background {
  padding-top: 50px;
  height: 180px;

  color: white;
  background: linear-gradient(
    rgba(73,0,168, 0.45),
    rgba(73,0,168, 0.45)
  ),
  url(../assets/connected-cars6.2.jpeg) 0px 250px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media (max-width: $mobile){
  p {
      text-align: left;
  }
  li {
      text-align: left;
  }

  .col-xs-12, .col-xs-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $purple;
}

.navbar-fixed-top {
  background-color: rgba($navbar,0);
  transition: background-color .4s ease 0s;
}

.navbar-fixed-top.opaque {
  background-color: rgba($navbar,.6);
  transition: background-color .4s ease 0s;
}

.move-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact {
  @media (max-width: $mobile) {
    .col-xs-12, .col-xs-6 {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

 #welcome-div {
   text-align: center;
   padding-top: 130px;
   padding-bottom: 200px;

   @media (max-width: 768px){
     padding-bottom: 100px;
}
     h2 {
       color: $light-grey;
       text-align: left;
       &.right {
         margin-right: -110px;
         text-align: right;
       }
       &.left {
         margin-left: 92px;
         text-align: left;

       }
       @media (max-width: $mobile) {

         font-size: 36px;

         &.right {
           padding-top: 0px !important;
           padding-bottom: 0px !important;
           margin-right: 0px;
           text-align: center;
         }
         &.left {
           padding-top: 0px !important;
           padding-bottom: 0px !important;
           margin-left: 0px;
           text-align: center;

         }

       }

     }
     span {
       background-color: transparent !important;

     }

     button:hover {
       color: white;
       border-color: transparent;
       background-color: darken($purple, 20%);
     }


 }

 .text-block {
   color: white;
   text-align: left;
   h2 {
     text-align: left;
   }
   @media (max-width: $mobile) {
     text-align: center;
     h2 {
       text-align: center;
     }
     }
 }
